body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
}

h1 {
    margin: 0 auto 0 auto;
    margin-top: 20px;
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
    color: rgb(75, 207, 255);
    line-height: 1;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(75, 207, 255);
    padding-bottom: 10px;
}

p{
    line-height: 2;
}

hr{
    border: dotted 6px;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
}

a {
    color: #29119e;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 20px;
}

a:hover {
    color:#11999e
}


#top-container{
    background-color: rgb(44, 148, 44);
    position: relative;
    height: 100vh;
}

#middle-container{
    margin-top: 50px;
}

#bottom-container{
}

#mountain{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

#top-cloud {
    position: relative;
    left: 400px;
    margin-top: 50px;
}
#bottom-cloud{
    position: relative;
    right: 400px;
    bottom: 300;
}

.intro {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #ffffff;
    font-size: 0.75rem;
    padding: 20px 0 0;
}

.skill-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.python-img {
    width: 150px; /*25% size of the parent (the div)*/
    float: left;
    margin-right: 30px;
}

#profile-pic {
    width: 200px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 20px 0;
}

#contact-me {
    padding-bottom: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

}

.circles {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    background: white;
    opacity: 0.1;
    animation: animate 5s infinite;
    border-radius: 50%;
    bottom: -200px;
    z-index: 99;
}

.circles li:nth-child(1) {
    left: 5%;
    width: 80px;
    height: 80px;
}

@keyframes animate {
    100% {
        transform: translateY(-130vh);
        opacity: 0;
    }

}
